SENDER_EMAIL=<your-email>@gmail.com # Works just with Gmail because of nodemailer configuration, but you can change it
SENDER_PASSWORD=<your-app-password-NOT-GMAIL-PASSWORD> # Need to generate here (Need 2 step verification activated in your Google account to see this page):
                                                       # https://myaccount.google.com/u/2/apppasswords?pli=1&rapt=AEjHL4OM0yaOWrieJv2hCzwuGbrQVHY5ZbXxXDXT779Mypw-eslHoPls_F9s0pHle5yqB696BSkmQ2AjecydtbjmRmhFxjNQIcnVLjRxKF41Qxo5bMDrzIA
KINDLE_EMAIL=<your-kindle-email>@kindle.com